
RewriteEngine On


#general Decline FOLDERS
#Decline folder/directory listing from URL_ADDRESS_BAR for GENERAL
RedirectMatch 403 ^/assets/?$
RedirectMatch 403 ^/image/?$
RedirectMatch 403 ^/includes/?$
RedirectMatch 403 ^/pages/?$



# by writing the below rule: we can excess the index.php page with:http://example.com/dashboard
# its convert dashboard.php to dashboard
# its remove .php extention
RewriteRule ^dashboard?$ dashboard.php

# by writing the below rule: we can excess the index.php page with:http://example.com/dashpanel
# its convert dashpanel.php to dashpanel
# its remove .php extention
RewriteRule ^dashpanel?$ dashpanel.php

# by writing the below rule: we can excess the index.php page with:http://example.com/logout
# its convert logout.php to logout
# its remove .php extention
RewriteRule ^logout?$ logout.php


# by writing the below rule: we can excess the index.php page with:http://example.com/pages/invoice
# its convert invoice.php to invoice
# its remove .php extention
RewriteRule ^pages/invoice?$ pages/invoice.php

# by writing the below rule: we can excess the index.php page with:http://example.com/handler
# its convert handler.php to handler
# its remove .php extention
RewriteRule ^pages/handler?$ pages/handler.php

# by writing the below rule: we can excess the index.php page with:http://example.com/handler
# its convert handler.php to handler
# its remove .php extention
RewriteRule ^global/handler?$ global/handler.php




#Decline all pages which is not in this server or u can say show error when user type wrong url
ErrorDocument 404 /404.html

#force not to show .php ext at the end or URL when user typed in url_bar
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)\.php
RewriteRule ^ /%1 [L,R=301]




